<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - A Little Extra</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/A_Little_Extra_System.styles.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black box-shadow">
            <div class="container container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg class="logo" width="80" height="44" viewBox="0 0 139 73" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M19.2643 14.8019C18.8233 14.116 18.2844 13.4989 17.6648 12.9704C16.8832 12.3521 16.0026 11.8718 15.0609 11.55C14.0112 11.1743 12.9013 10.9969 11.7874 11.0267C9.83937 11.0002 7.92609 11.546 6.28221 12.5967C4.67924 13.6823 3.39482 15.1794 2.56242 16.9325C1.56505 18.8847 1.06646 21.0555 1.11165 23.2495C1.07711 25.45 1.56151 27.6275 2.52518 29.6038C3.38222 31.3509 4.66106 32.8543 6.24498 33.977C7.81164 35.0492 9.66893 35.6104 11.5643 35.5843C12.6409 35.6021 13.7121 35.425 14.7262 35.0612C15.6891 34.7087 16.6019 34.2311 17.4416 33.6408C18.1486 33.141 18.7757 32.5359 19.3015 31.8464V35.1358H25.0299V11.5126H19.3387L19.2643 14.8019ZM16.3629 29.7533C15.3643 30.3924 14.1986 30.7178 13.015 30.6877C11.8555 30.7119 10.7153 30.3865 9.74159 29.7533C8.78595 29.1205 8.01561 28.2432 7.50981 27.2116C6.97621 26.0394 6.70927 24.7625 6.72857 23.4737C6.70547 22.1846 6.97258 20.9068 7.50981 19.7359C8.01561 18.7043 8.78595 17.8269 9.74159 17.1942C10.7153 16.561 11.8555 16.2355 13.015 16.2597C14.1986 16.2297 15.3643 16.555 16.3629 17.1942C17.3272 17.8168 18.1 18.6969 18.5947 19.7359C19.1319 20.9068 19.3991 22.1846 19.376 23.4737C19.3953 24.7625 19.1283 26.0394 18.5947 27.2116C18.0777 28.1957 17.3069 29.022 16.3629 29.6038V29.7533Z"
                            fill="currentcolor" />
                        <path d="M50.3988 1.98145H44.6703V35.1735H50.3988V1.98145Z" fill="currentcolor" />
                        <path d="M63.1577 11.5127H57.4293V35.1358H63.1577V11.5127Z" fill="currentcolor" />
                        <path
                            d="M60.2564 6.69043C61.2065 6.73698 62.1384 6.41599 62.8603 5.79339C63.1781 5.49202 63.4287 5.12616 63.5954 4.72022C63.7621 4.31427 63.8411 3.87747 63.8272 3.43853C63.8494 2.98749 63.7746 2.53689 63.6077 2.1176C63.4408 1.69831 63.1859 1.32011 62.8603 1.00884C62.0979 0.452667 61.1799 0.15332 60.2377 0.15332C59.2956 0.15332 58.3776 0.452667 57.6152 1.00884C57.0164 1.65271 56.6832 2.50113 56.6832 3.38241C56.6832 4.26368 57.0164 5.1121 57.6152 5.75597C58.3409 6.40122 59.2885 6.73648 60.2564 6.69043V6.69043Z"
                            fill="currentcolor" />
                        <path
                            d="M72.5316 35.1729H78.2229V16.7827H83.319V11.5123H78.2229V5.45703H72.5316V11.5123H67.9563V16.7827H72.5316V35.1729Z"
                            fill="currentcolor" />
                        <path
                            d="M100.728 16.7827V11.5123H95.6316V5.45703H89.9031V11.5123H85.3649V16.7827H89.9031V35.1729H95.6316V16.7827H100.728Z"
                            fill="currentcolor" />
                        <path d="M110.66 1.98145H104.931V35.1735H110.66V1.98145Z" fill="currentcolor" />
                        <path
                            d="M121.149 34.0141C123.175 35.0921 125.441 35.6324 127.733 35.584C128.85 35.5927 129.963 35.4545 131.044 35.1729C132.161 34.8862 133.245 34.4853 134.28 33.9767C135.28 33.4577 136.195 32.7899 136.996 31.9958L134.243 28.258C133.382 29.0523 132.387 29.6853 131.305 30.1269C130.34 30.4825 129.319 30.6596 128.291 30.65C126.888 30.6796 125.498 30.3721 124.237 29.753C123.091 29.1916 122.144 28.2917 121.522 27.1738C121.118 26.4177 120.853 25.5948 120.74 24.7444H138.074V22.8006C138.122 21.21 137.869 19.6248 137.331 18.1283C136.846 16.7351 136.072 15.4611 135.061 14.3905C134.066 13.3579 132.878 12.5322 131.565 11.9608C130.178 11.3682 128.682 11.0754 127.175 11.1012C125.533 11.0881 123.904 11.3926 122.377 11.9982C120.972 12.605 119.706 13.4956 118.657 14.6148C117.582 15.7633 116.736 17.1082 116.165 18.5769C115.559 20.1759 115.256 21.8748 115.272 23.5857C115.239 25.7847 115.791 27.9527 116.872 29.8652C117.898 31.6115 119.376 33.0453 121.149 34.0141V34.0141ZM123.567 16.8202C124.708 16.2074 125.995 15.9227 127.287 15.9977C128.191 15.9777 129.086 16.1833 129.891 16.5959C130.657 16.9491 131.312 17.5046 131.788 18.2032C132.274 18.8964 132.557 19.7119 132.607 20.558V20.7823H120.964C121.092 20.245 121.266 19.7196 121.484 19.2122C121.911 18.2144 122.64 17.3774 123.567 16.8202V16.8202Z"
                            fill="currentcolor" />
                        <path
                            d="M46.6046 51.5448C45.6091 50.5121 44.421 49.6865 43.108 49.1151C41.721 48.5225 40.2256 48.2297 38.7187 48.2555C37.0767 48.2424 35.4476 48.5469 33.9202 49.1525C32.515 49.7593 31.2488 50.6499 30.2004 51.769C29.1253 52.9175 28.2793 54.2625 27.7082 55.7312C27.1024 57.3302 26.7997 59.0291 26.8155 60.74C26.782 62.939 27.3343 65.107 28.415 67.0195C29.4658 68.8272 30.9991 70.3034 32.8416 71.2807C34.8675 72.3586 37.1336 72.8989 39.4255 72.8505C40.5421 72.8592 41.6552 72.721 42.7361 72.4394C43.8527 72.1527 44.937 71.7519 45.9723 71.2433C46.9717 70.7242 47.8871 70.0562 48.6877 69.2621L45.9351 65.5243C45.0745 66.3186 44.0793 66.9516 42.9965 67.3932C42.0318 67.7488 41.011 67.9262 39.9835 67.9165C38.5802 67.9461 37.19 67.6386 35.9288 67.0195C34.7831 66.4582 33.8357 65.5582 33.2135 64.4404C32.8099 63.6843 32.5452 62.8611 32.4322 62.0107H49.6549V60.0672C49.7019 58.4766 49.4497 56.8913 48.9111 55.3949C48.4299 53.9584 47.6427 52.6445 46.6046 51.5448V51.5448ZM35.1851 54.0865C36.3261 53.4737 37.6132 53.1892 38.9049 53.2643C39.8087 53.2443 40.7031 53.4497 41.5085 53.8622C42.2741 54.2154 42.9299 54.7709 43.4057 55.4695C43.8909 56.1627 44.1744 56.9782 44.2241 57.8243V58.0486H32.5812C32.7098 57.5113 32.8841 56.9862 33.102 56.4788C33.5477 55.5224 34.2748 54.7266 35.1851 54.1987V54.0865Z"
                            fill="currentcolor" />
                        <path
                            d="M75.6191 48.8906H68.8863L64.4225 56.4784L58.88 48.8906H51.8868L60.7027 60.5527L51.8496 72.5511H58.5824L63.7901 64.7391L69.407 72.5511H76.2887L67.4355 60.5901L75.6191 48.8906Z"
                            fill="currentcolor" />
                        <path
                            d="M88.4152 42.8359H82.6867V48.8912H78.1113V54.1616H82.6867V72.5518H88.4152V54.1616H93.4741V48.8912H88.4152V42.8359Z"
                            fill="currentcolor" />
                        <path
                            d="M110.325 48.4051C109.159 48.402 108.01 48.6843 106.977 49.2275C105.911 49.8018 104.964 50.5757 104.187 51.5076C103.822 51.9556 103.51 52.4449 103.257 52.9654V48.891H97.7147V72.5142H103.443V59.9551C103.428 59.2117 103.568 58.4733 103.852 57.7871C104.135 57.1401 104.525 56.5462 105.005 56.0304C105.497 55.5476 106.078 55.1666 106.716 54.9091C107.378 54.6403 108.086 54.5005 108.8 54.4978C109.735 54.5155 110.658 54.7189 111.515 55.096L113.04 48.8164C112.671 48.6637 112.283 48.563 111.887 48.5173C111.37 48.4359 110.848 48.3982 110.325 48.4051V48.4051Z"
                            fill="currentcolor" />
                        <path
                            d="M132.271 48.8909V52.1803C131.3 50.628 129.81 49.4749 128.068 48.9284C127.031 48.5555 125.933 48.3781 124.832 48.405C122.883 48.3742 120.969 48.9203 119.327 49.9751C117.717 51.0537 116.431 52.5526 115.607 54.3109C114.609 56.263 114.111 58.4339 114.156 60.6278C114.121 62.8283 114.606 65.0059 115.57 66.9822C116.418 68.7346 117.699 70.2399 119.289 71.3554C120.842 72.4269 122.688 72.9883 124.572 72.9626C125.648 72.9804 126.719 72.8033 127.733 72.4395C128.699 72.0936 129.613 71.6157 130.449 71.0191C131.156 70.5193 131.783 69.9142 132.309 69.2248V72.5141H138.075V48.8909H132.271ZM129.37 66.9822C128.376 67.63 127.207 67.9561 126.022 67.9166C124.874 67.945 123.744 67.6189 122.786 66.9822C121.812 66.3706 121.037 65.4875 120.554 64.4405C119.992 63.277 119.711 61.9961 119.736 60.7026C119.706 59.4088 119.987 58.1268 120.554 56.9648C121.037 55.9178 121.812 55.0347 122.786 54.4231C123.744 53.7864 124.874 53.4602 126.022 53.4886C127.207 53.4492 128.376 53.7753 129.37 54.4231C130.344 55.0347 131.119 55.9178 131.602 56.9648C132.169 58.1268 132.45 59.4088 132.42 60.7026C132.445 61.9961 132.165 63.277 131.602 64.4405C131.119 65.4875 130.344 66.3706 129.37 66.9822Z"
                            fill="currentcolor" />
                        <path
                            d="M1.00015 57.8993C1.00015 61.8646 2.56776 65.6675 5.35815 68.4715C8.14853 71.2754 11.9331 72.8506 15.8793 72.8506V42.7236C13.9064 42.7234 11.9531 43.1174 10.1332 43.8828C8.31329 44.6482 6.66307 45.7695 5.27846 47.1817C3.89384 48.5939 2.8024 50.2687 2.06791 52.1086C1.33342 53.9486 0.970556 55.917 1.00015 57.8993V57.8993Z"
                            fill="#FF7F50" />
                    </svg>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ms-5">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Activity"
                                asp-action="Index">Activities</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Dashboard"
                                asp-action="Index">Dashboard</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Profile"
                                asp-action="Index">Profile</a>
                            </li>
                        }
                    </ul>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div class="modal-footer">
                            <a class="btn btn-outline-primary" asp-area="" asp-controller="Account"
                            asp-action="Login">Login</a>
                            <a asp-area="" asp-controller="Account" asp-action="Register"
                            class="btn btn-primary">Register</a>
                        </div>
                    }
                    else
                    {

                        <div class="modal-footer">
                            <p class="nav-link text-white">
                                @User.Identity.Name
                            </p>
                            <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-primary">Logout</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-black mt-auto">
        <div class="container">
            <div class="footer-content text-white">A Little Extra System</div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
