@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="container">
        <div class="hero-content d-flex flex-column align-items-start justify-content-center">
            <h1 class="h-01">Do a little extra for the community</h1>
            <a class="btn btn-primary btn-lg mt-5" asp-area="" asp-controller="Activities" asp-action="Index">Call to
                action<i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
</section>

<section class="mb-5">
    <div class="top-participants bg-white w-75 shadow-md m-auto">
        <h2 class="h-02 text-center mb-5">This weeks top participants</h2>
        <div class="rank d-flex justify-content-around align-items-end">
            <div class="card text-center align-items-center ranker-card">
                <div class="rank-mark text-grey-02">
                    <svg viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.0232 2.46467C12.0411 3.30153 10.8202 3.80728 9.53403 3.90991C6.53271 4.14942 4.14942 6.53271 3.90991 9.53403C3.80728 10.8202 3.30153 12.0411 2.46467 13.0232C0.511776 15.3148 0.511776 18.6852 2.46467 20.9768C3.30153 21.9589 3.80728 23.1798 3.90991 24.466C4.14942 27.4673 6.53271 29.8506 9.53403 30.0901C10.8202 30.1927 12.0411 30.6985 13.0232 31.5353C15.3148 33.4882 18.6852 33.4882 20.9768 31.5353C21.9589 30.6985 23.1798 30.1927 24.466 30.0901C27.4673 29.8506 29.8506 27.4673 30.0901 24.466C30.1927 23.1798 30.6985 21.9589 31.5353 20.9768C33.4882 18.6852 33.4882 15.3148 31.5353 13.0232C30.6985 12.0411 30.1927 10.8202 30.0901 9.53403C29.8506 6.53271 27.4673 4.14942 24.466 3.90991C23.1798 3.80728 21.9589 3.30153 20.9768 2.46467C18.6852 0.511776 15.3148 0.511776 13.0232 2.46467Z"
                            stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span>1</span>
                </div>
                <div class="card-body align-items-center c-card-body">
                    <div class="profile-p rounded-circle mb-4"></div>
                    <h5 class="card-title h-04">Special title treatment</h5>
                    <p class="card-text text-grey-03">230 Points.</p>
                </div>
            </div>
            <div class="card text-center align-items-center ranker-card ranker-01">
                <div class="rank-mark text-prim-color">
                    <svg viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.0232 2.46467C12.0411 3.30153 10.8202 3.80728 9.53403 3.90991C6.53271 4.14942 4.14942 6.53271 3.90991 9.53403C3.80728 10.8202 3.30153 12.0411 2.46467 13.0232C0.511776 15.3148 0.511776 18.6852 2.46467 20.9768C3.30153 21.9589 3.80728 23.1798 3.90991 24.466C4.14942 27.4673 6.53271 29.8506 9.53403 30.0901C10.8202 30.1927 12.0411 30.6985 13.0232 31.5353C15.3148 33.4882 18.6852 33.4882 20.9768 31.5353C21.9589 30.6985 23.1798 30.1927 24.466 30.0901C27.4673 29.8506 29.8506 27.4673 30.0901 24.466C30.1927 23.1798 30.6985 21.9589 31.5353 20.9768C33.4882 18.6852 33.4882 15.3148 31.5353 13.0232C30.6985 12.0411 30.1927 10.8202 30.0901 9.53403C29.8506 6.53271 27.4673 4.14942 24.466 3.90991C23.1798 3.80728 21.9589 3.30153 20.9768 2.46467C18.6852 0.511776 15.3148 0.511776 13.0232 2.46467Z"
                            stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="">1</span>
                </div>
                <div class="card-body align-items-center c-card-body">
                    <div class="profile-p rounded-circle mb-4"></div>
                    <h5 class="card-title h-04">Special title treatment</h5>
                    <p class="card-text text-prim-color">230 Points.</p>
                </div>
            </div>
            <div class="card text-center align-items-center ranker-card">
                <div class="rank-mark text-grey-02">
                    <svg viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.0232 2.46467C12.0411 3.30153 10.8202 3.80728 9.53403 3.90991C6.53271 4.14942 4.14942 6.53271 3.90991 9.53403C3.80728 10.8202 3.30153 12.0411 2.46467 13.0232C0.511776 15.3148 0.511776 18.6852 2.46467 20.9768C3.30153 21.9589 3.80728 23.1798 3.90991 24.466C4.14942 27.4673 6.53271 29.8506 9.53403 30.0901C10.8202 30.1927 12.0411 30.6985 13.0232 31.5353C15.3148 33.4882 18.6852 33.4882 20.9768 31.5353C21.9589 30.6985 23.1798 30.1927 24.466 30.0901C27.4673 29.8506 29.8506 27.4673 30.0901 24.466C30.1927 23.1798 30.6985 21.9589 31.5353 20.9768C33.4882 18.6852 33.4882 15.3148 31.5353 13.0232C30.6985 12.0411 30.1927 10.8202 30.0901 9.53403C29.8506 6.53271 27.4673 4.14942 24.466 3.90991C23.1798 3.80728 21.9589 3.30153 20.9768 2.46467C18.6852 0.511776 15.3148 0.511776 13.0232 2.46467Z"
                            stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span>1</span>
                </div>
                <div class="card-body align-items-center c-card-body">
                    <div class="profile-p rounded-circle mb-4"></div>
                    <h5 class="card-title h-04">Special title treatment</h5>
                    <p class="card-text text-grey-03">230 Points.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-8">
    <div class="container text-center">
        <h2 class="display-5">A Little Extra’s History</h2>
        <p class="w-75 p-3 m-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Blandit cursus risus at ultrices. Cursus
            eget nunc scelerisque viverra mauris. Fermentum odio eu feugiat pretium nibh ipsum. Laoreet
            suspendisse interdum consectetur libero id. Velit scelerisque in dictum non consectetur a.
            Tortor pretium viverra suspendisse potenti. Nam aliquam sem et tortor consequat. Odio eu feugiat
            pretium nibh ipsum consequat. Sapien nec sagittis aliquam malesuada bibendum arcu. Dignissim
            sodales ut eu sem integer.</p>
    </div>
</section>

<section class="mb-8">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card br-20 info-card">
                    <div class="card-body text-center">
                        <div class="card d-inline-block mb-5 text-prim-color card-icon br-8"><i
                                class="bi bi-heart m-auto"></i></div>
                        <h5 class="card-title h-02 mb-5 text-prim-color">Donationt</h5>
                        <p class="card-text m-auto w-80">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit
                            cursus risus at ultrices. Cursus eget nunc scelerisque viverra mauris. Fermentum
                            odio eu feugiat pretium nibh ipsum. Laoreet suspendisse interdum consectetur
                            libero id. Velit scelerisque in dictum non consectetur a. Tortor pretium viverra
                            suspendisse potenti. Nam aliquam sem et tortor consequat. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card br-20 info-card">
                    <div class="card-body text-center">
                        <div class="card d-inline-block mb-5 text-prim-color card-icon br-8"><i
                                class="bi bi-bullseye m-auto"></i></div>
                        <h5 class="card-title h-02 mb-5 text-prim-color">Campaings</h5>
                        <p class="card-text m-auto w-80">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit
                            cursus risus at ultrices. Cursus eget nunc scelerisque viverra mauris. Fermentum
                            odio eu feugiat pretium nibh ipsum. Laoreet suspendisse interdum consectetur
                            libero id. Velit scelerisque in dictum non consectetur a. Tortor pretium viverra
                            suspendisse potenti. Nam aliquam sem et tortor consequat. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card br-20 info-card">
                    <div class="card-body text-center">
                        <div class="card d-inline-block mb-5 text-prim-color card-icon br-8"><i
                                class="bi bi-flag m-auto"></i></div>
                        <h5 class="card-title h-02 mb-5 text-prim-color">Competitions</h5>
                        <p class="card-text m-auto w-80">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit
                            cursus risus at ultrices. Cursus eget nunc scelerisque viverra mauris. Fermentum
                            odio eu feugiat pretium nibh ipsum. Laoreet suspendisse interdum consectetur
                            libero id. Velit scelerisque in dictum non consectetur a. Tortor pretium viverra
                            suspendisse potenti. Nam aliquam sem et tortor consequat. </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
